{% extends 'base.html' %}

{% block container %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Heaven Bank <i class="fas fa-piggy-bank    "></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      {% for element in ['My Cards','Deposits','Credit offers', 'Archive'] %}
      <li class="nav-item active">
        <a class="nav-link" href="#">{{ element|e }} <span class="sr-only">(current)</span></a>
      </li>
      {% endfor %}



    </ul>
    <form class="form-inline my-2 my-lg-0">
      <i class="fa fa-money" aria-hidden="true">💲 10,000 </i>
      <img
        src="https://image.freepik.com/free-vector/profile-icon-male-avatar-hipster-man-wear-headphones_48369-8728.jpg"
        width="38px" height="38px" class="img-fluid rounded-circle" alt="">
    </form>
  </div>
</nav>

<div>
  <div class="row">
    <div class="col-md-3">
      <header>
        My Cards
      </header>
    </div>
    <hr>
    <div class="col-md-9">
      <div class="row" style="padding: 30px;">
        <div class="column" style="align-items: center;">
          Balance
          $ 10,000
        </div>
        <div>
          <button type="button" class="btn btn-primary ">Send Money</button>
        </div>
      </div>
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              {% for element in ['Recipient name','Additional info', 'Amount , INR', 'Date', 'Time'] %}
              <th>{{ element|e }}</th>
              {% endfor %}

            </tr>
          </thead>
          <tbody>
            {% for element in data %}
            <tr>
              {% for el in element %}

              <td scope="row">{{el}}</td>


              {% endfor %}
            </tr>
            {% endfor %}



          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}